.product-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .product-image {
    width: 90px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .product-image-logo {
    width: 180px;
    height: 100px;
  }

  .visit-btn {
    margin-top: 10px;
    padding-left: 105px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-title {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .product-tagline {
    font-weight: normal;
  }
  
  .product-categories {
    display: flex;
    margin-top: 5px;
  }
  
  .product-category {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .product-rating {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: #ffe100;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
  }

  .product-description {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.875rem;
    margin-right: 10px;
  }
  
  .product-category:first-child {
    background-color: #007bff;
    color: white;
  }

  .custom-modal-size {
    height: 80vh; /* Set the height to 80% of the viewport height */
    max-width: 95%; /* Set the maximum width to 95% */
    margin: auto; /* Center the modal */
  }
  
  .custom-modal-content {
    height: 100%;
  }
  
  .product-itemBt:hover {
    cursor: pointer;
  }

  .card {
    transition: background-color 1.0s ease;
  }
  
  .card:hover {
    background-color: #cce5ff; /* Change this color to whatever shade of blue you prefer */
  }

  .scrollable-comments {
    max-height: 450px; /* Adjust this height as needed */
    overflow-y: auto;
    padding: 1rem; /* Optional: Add some padding for better appearance */
  }

  .text-primary {
    color: blue;
  }